extends layout

block content
  .flex
    .h-auto.p-6(class="w-3/4")
      h1 API

      p.

        This API tries to be RESTful and can be used programatically to create a bin and query it's contents to help your
        unit testing, your constant integration tests or your build server. It is designed to help people who are testing
        requests to an API that isn't under their control or for people who are adding webhooks to their product. It may
        have other uses too.

      p.
        But before we talk about the real API, let's talk about the bin itself.

      h3 The Bin

      p.
        As you already know, you can hit the <code>#{env.baseUrl}/&lt;binId&gt;</code> endpoint to collect any kind of request data
        whether it is a GET, POST, PUT, PATCH, DELETE or whatever. This particular endpoint is not RESTful and is not part
        of this API. It isn't RESTful by definition. ie. it is meant to collect whatever you send to it.

      p.
        You will receive a <code>200</code> and a RequestId as the body text. e.g. 'jEpYkw6a'. You may receive a
        <code>500 Internal Server Error</code> is there is a problem.

      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v #{env.baseUrl}/WERcssi2
        | > GET /lSpYlwlI HTTP/1.1
        | > User-Agent: curl/7.35.0
        | > Host: localhost:8512
        | > Accept: */*
        | >
        | < HTTP/1.1 200 OK
        | < Content-Type: text/plain; charset=utf-8
        | < Content-Length: 9
        | < Date: Fri, 14 Aug 2015 11:46:28 GMT
        | <
        | YC61MdHw
      p.
        The <code>reqId</code> here is <code>YC61MdHw</code>. You may use this code in the <strong>Get
        Request</strong>.
      hr

      h2 JSON Methods

      p This API tries to be RESTful. You may receive the following codes.

      ul
        li 200 OK - Request was successful. The data you received is what you asked for.
        li 201 Created - Object was created in response to a POST.

      a(name="bins")
      h2 Bins

      a(name="create-bin")
      h3 Create Bin
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | POST /api/bin

      p.
        Creates a new bin and returns a <code>binId</code> and some other values to you. This bin is value for 30 mins
        after which time it will cease to exist and all operations on it will fail.
      ul
        li Method
          ul
            li POST
        li Params
          ul
            li [none]
        li Status Codes
          ul
            li <code>201</code> - with the result below
            li <code>500</code> - <code>{ "msg" : "Internal Server Error" }</code>
        li Returns
          ul
            li <code>binId</code> - an opaque string to be used as the <code>binId</code>
            li <code>inserted</code> - the UTC timestamp (in ms) this bin was created
            li <code>expires</code> - the UTC timestamp (in ms) this bin will be deleted (approx. but not before)
      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v -X POST #{env.baseUrl}/api/bin
        | > POST /api/bin HTTP/1.1
        | > Accept: */*
        | >
        | < HTTP/1.1 201 Created
        | < Content-Type: application/json; charset=utf-8
        | < Content-Length: 85
        | < Date: Sun, 09 Aug 2015 10:10:20 GMT
        | <
        | {"binId":"YS4il4gS","inserted":1439113980530,"expiry":1439115780530}
      hr

      a(name="get-bin")
      h3 Get Bin
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | GET /api/bin/&lt;binId&gt;

      p.
        Returns information based on the <code>binId</code> you provide.
      ul
        li Method
          ul
            li GET
        li Params
          ul
            li <code>binId</code> - the binId of the one you wish to query
        li Status Codes
          ul
            li <code>404</code> - <code>{ "msg" : "Bin Does Not Exist" }</code>
            li <code>500</code> - <code>{ "msg" : "Internal Server Error" }</code>
        li Returns
          ul
            li (same as 'Create Bin')
      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v #{env.baseUrl}/api/bin/YS4il4gS
        | > GET /api/bin/YS4il4gS HTTP/1.1
        | > Accept: */*
        | >
        | < HTTP/1.1 200 OK
        | < Content-Type: application/json; charset=utf-8
        | < Content-Length: 85
        | < Date: Sun, 09 Aug 2015 10:14:34 GMT
        | <
        | {"binId":"YS4il4gS","inserted":1439113980530,"expiry":1439115780530}
      hr

      a(name="delete-bin")
      h3 Delete Bin
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | DELETE /api/bin/&lt;binId&gt;

      p.
        Deletes this bin and all of it's posts. Note that if you try and delete a <code>binId</code>
        that doesn't exist, you'll still get a successful answer. i.e. a 200 (see below).
      ul
        li Method
          ul
            li DELETE
        li Params
          ul
            li <code>binId</code> - the binId of the one you wish to query
        li Status Codes
          ul
            li <code>200</code> - <code>{ "msg" : "Bin deleted" }</code>
            li <code>500</code> - <code>{ "msg" : "Internal Server Error" }</code>
        li Returns
          ul
            li <code>{ "msg" : "Bin deleted" }</code>
      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v -X DELETE #{env.baseUrl}/api/bin/YS4il4gS
        | > DELETE /api/bin/YS4il4gS HTTP/1.1
        | > Accept: */*
        | >
        | < HTTP/1.1 200 OK
        | < Content-Type: application/json; charset=utf-8
        | < Content-Length: 85
        | < Date: Sun, 09 Aug 2015 10:14:34 GMT
        | <
        | {"msg":"Bin Deleted"}
      hr

      a(name="requests")
      h2 Requests

      a(name="get-req")
      h3 Get Request
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | GET /api/bin/&lt;binId&gt;/req/&lt;reqId&gt;

      p.
        Returns information based on the <code>binId</code> and <code>reqId</code> you provide.
      ul
        li Method
          ul
            li GET
        li Params
          ul
            li <code>binId</code> - the binId you wish to query, the opaque string received when the bin was created
            li <code>reqId</code> - the reqId you wish to query, the one returned to you when you hit the <code>bin</code> url to place requests in the bin
        li Status Codes
          ul
            li <code>200</code> - <code>{ ... req info ... }</code>
            li <code>400</code> - <code>{ "msg" : "Invalid reqId. Provide a number." }</code>
            li <code>400</code> - <code>{ "msg" : "Invalid reqId. Request number too high." }</code>
            li <code>400</code> - <code>{ "msg" : "Invalid reqId. This older request has been deleted automatically." }</code>
            li <code>404</code> - <code>{ "msg" : "Bin Does Not Exist" }</code>
            li <code>500</code> - <code>{ "msg" : "Internal Server Error" }</code>
        li Returns
          ul
            li See Example
      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v #{env.baseUrl}/api/bin/YS4il4gS
        | > GET /api/bin/YS4il4gS HTTP/1.1
        | > Accept: */*
        | >
        | < HTTP/1.1 200 OK
        | < Content-Type: application/json; charset=utf-8
        | < Content-Length: 85
        | < Date: Sun, 09 Aug 2015 10:14:34 GMT
        | <
        | {
        |   "method":"GET",
        |   "path":"/BTigEN3y",
        |   "headers":{"user-agent":"curl/7.35.0","host":"postb.in","accept":"*/*"},
        |   "query":{},
        |   "body":{},
        |   "ip":"1.2.3.4",
        |   "inserted":1439468475026
        | }
      hr

      a(name="shift-req")
      h3 Shift Request
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | GET /api/bin/&lt;binId&gt;/req/shift

      p.
        Removes the first element of the requests stored and returns it. This operation is useful since then you don't
        have to keep track of the <code>reqIds</code> if you know which order you made the requests in. This method
        changes the length of the array.
      ul
        li Method
          ul
            li GET
        li Params
          ul
            li <code>binId</code> - the binId you wish to query, the opaque string received when the bin was created
        li Status Codes
          ul
            li <code>200</code> - <code>{ ... req info ... }</code>
            li <code>404</code> - <code>{ "msg" : "Bin Does Not Exist" }</code>
            li <code>404</code> - <code>{ "msg" : "Request Does Not Exist" }</code>
            li <code>500</code> - <code>{ "msg" : "Internal Server Error" }</code>
        li Returns
          ul
            li See Example
      h4 Example
      pre.bg-grey-lighter.p-6.border.border-grey-dark.border-l-4
        | $ curl -v #{env.baseUrl}/api/bin/YS4il4gS
        | > GET /api/bin/YS4il4gS HTTP/1.1
        | > Accept: */*
        | >
        | < HTTP/1.1 200 OK
        | < Content-Type: application/json; charset=utf-8
        | < Content-Length: 85
        | < Date: Sun, 09 Aug 2015 10:14:34 GMT
        | <
        | {
        |   "method":"GET",
        |   "path":"/BTigEN3y",
        |   "headers":{"user-agent":"curl/7.35.0","host":"postb.in","accept":"*/*"},
        |   "query":{},
        |   "body":{},
        |   "ip":"1.2.3.4",
        |   "inserted":1439468475026
        | }
      hr

      p (Ends)

    .h-auto.p-6(class="w-1/4")

      script(
        async
        type="text/javascript"
        src="//cdn.carbonads.com/carbon.js?serve=CK7D527J&placement=postbin"
        id="_carbonads_js"
      )

      h2 Contents

      ul
        li
          a(href="#bins") Bins
          ul
            li
              a(href="#create-bin") Create Bin
            li
              a(href="#get-bin") Get Bin
            li
              a(href="#delete-bin") Delete Bin

        li
          a(href="#requests") Requests
          ul
            li
              a(href="#get-req") Get Request
            li
              a(href="#shift-req") Shift Request
