extends layout

block content
  h2 Bin '#{bin.binId}'

  if reqs && reqs.length
    for req in reqs
      .row.border.border-grey-dark.bg-grey-light.p-6
        h3.float-right.m-0 [Req '#{req.reqId}' : #{req.ip}]
        h3.m-0 <strong>#{req.method} #{req.path}</strong> <small class="text-grey">#{new Date(req.inserted).toISOString()}</small>
      .w-full.flex
        div.p-4.border.border-grey-light(class="w-1/3")
          h4.mt-0 Headers
          if req.headers
            ul.list-reset
              for val, key in req.headers
                if Array.isArray(val)
                  for v in val
                    li <strong>#{key}</strong>: #{v}
                else
                  li <strong>#{key}</strong>: #{val}
          else
            p No headers
        div.p-4.border.border-grey-light(class="w-1/3")
          h4.mt-0 Query
          if req.query
            ul.list-reset
              for val, key in req.query
                if Array.isArray(val)
                  for v in val
                    li <strong>#{key}</strong>: #{v}
                else
                  li <strong>#{key}</strong>: #{val}
          else
            p No Query
        div.p-4.border.border-grey-light(class="w-1/3")
          h4.mt-0 Body
          if req.body
            ul.list-reset
              for val, key in req.body
                if Array.isArray(val)
                  for v in val
                    li <strong>#{key}</strong>: #{v}
                else
                  li <strong>#{key}</strong>: #{val}
          else
            p No Body
  else
    p No requests received yet.
    p Try one of these and refresh to see the results:
    ul
      li
        code curl -H 'X-Status: Awesome' #{env.baseUrl}/#{bin.binId}
      li
        code wget #{env.baseUrl}/#{bin.binId}?hello=world
      li
        code echo "hello=world" | POST #{env.baseUrl}/#{bin.binId}
